<?php

class Settings
{
    const MERCHANT_ID = 'your_merchant_id'; // ID вашего магазина в Платроне
    const MERCHANT_SECRET_KEY = 'your_secret_key'; // Secret key магазина в Платроне
    const PAYMENT_SYSTEM_NAME = 'APPLEPAYPAYMENTSYSTEM'; // Название платежной системы Apple Pay

    const PLATRON_BASE_URL = 'https://platron.ru';
    const PLATRON_APPLE_PATH = '/index.php/web/apple-pay';
    const PLATRON_APPLE_URL = self::PLATRON_BASE_URL . self::PLATRON_APPLE_PATH;
}
